<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Feedback List</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<!--    <style>-->
<!--        tr {-->
<!--            border-style: wave;-->
<!--        }-->

<!--    </style>-->

</head>
<body>

<div align="center">
        <form action="#" th:action="@{/feedbackList}" method="get">
<!--            <br><br>-->

            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="../src/main/resources/images/logo.png" width="120" height="30" class="d-inline-block align-top" alt="">
                    Home
                </a>

                <form class="form-inline my-auto my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome S. Gupta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Logout</a>
                        <a class="dropdown-item" href="#">#</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </form>
            </nav>
            <br>
            <h2><p class="text-left">Recent Feedbacks</p></h2>
            <div class="table-responsive table-borderless table-hover" >
                <table class="table" width="500px">
                    <thead  class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Report Name</th>
                            <th>Rating</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tr th:each="feedback : ${feedbackList}">
                        <td th:text="${feedback.getFeedbackTo}">Name</td>
                        <td th:text="${feedback.getReportName}">Report Name</td>
                        <td th:text="${feedback.getRating}">Rating</td>
                        <td th:text="${feedback.getDescription}">Description</td>
                    </tr>
                </table>

            </div>
            <br><br>



        </form>

</div>
<button type="button" class="btn btn-outline-primary" ><a th:href="@{/feedback}">Submit New Form</a></button>
</body>
</html>